head
   title Blunderboek Antwerpse Mobiliteit
   link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
   link(href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet")
   link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300" rel="stylesheet")
   link(rel="stylesheet" type="text/css" href="style.css")
   meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
   meta(charset='utf-8')
   meta(property="og:image" content="http://www.blunderboek.be/img/social.jpg")
   meta(property="og:title" content="Blunderboek Antwerpse Mobiliteit")
   meta(property="og:description" content="Het Blunderboek Antwerpse Mobiliteit is een overzicht van alle misgelopen ingrepen en gemiste kansen die zich de voorbije jaren presenteerden in de stad Antwerpen op het vlak van mobiliteit.")
   meta(property="og:type" content="article")
