doctype html
html(lang="nl")
   include header.jade
   body
      .container
         include nav.jade
         include:markdown introductie.md
         include:markdown blunderboek.md
         include:markdown bijlages.md
      include tracker.html

